@import 'reset';
@import 'variable';
@import 'swiper/css';

body {
    min-height: 100vh;
    background: var(--blue-500);
}

#root{
    height: 100vh;
}

*{
    font-family: sans-serif;
    font-size: 14px;
}
