:root{
    // === txt ===
    --light-blue: #b8cfff;
    --light-blue-hover: #adc7ff;
    --light-blue-gray:#e2eaff;
    --blue: #6b78ff;
    --red: #ff7f7f;

    // === size ===
    --header-height: 100px;

    // === z-index ===
    --z-index-alert: 100;

    // === skeleton ===
    --skeleton-color: #e8e8e8;
    --skeleton-shadow: rgba(0 0 0 / 20%);
    --skeleton-bg: rgb(219 219 219 / 69%);
}
