@keyframes showPage {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.mainPage {
    display: grid;
    grid-template-columns: 230px 1fr;
    //animation: showPage .5s ease-out 0s both;
    .menu {
        padding: 10px 15px;

        .logo {
            width: 200px;
        }

    }

    .container {
        padding: 10px;
    }
}

.mainPageSkeleton {
    display: grid;
    grid-template-columns: 230px 1fr;

    .menu {
        padding: 10px 15px;

    }

    .container {
        padding: 10px;
    }
    .tasksListLoader, .linkLoader{
        margin-top: 15px;
        height: calc(100vh - var(--header-height) - 35px);
    }
}
