.arrow{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
    background: var(--gray-300);

    &:hover{
        background: var(--gray-200);
    }

    &.prev{
        transform: rotate(180deg);
        right: unset;
        left: 0;
    }

    @media (max-width: 850px){
        // display: none; перетирается стиль
        visibility: hidden;
    }
}