.mainPage {
   display: flex;
   padding: 0 15px;
   padding-top: var(--header-height);
   height: 100vh;
   flex-direction: column;
   max-width: 1000px;
   margin: 0 auto;

   @media (max-width: 600px ){
      padding: 0;
      padding-top: var(--header-height);
   }
}



