.orderItem{
    display: grid;
    background: var(--gray-300);
    padding: 5px 15px;
    border-radius: 5px;
    grid-template-columns: 180px 1fr 150px 30px;
    align-items: center;
    cursor: pointer;

    .delete{
        background: var(--red);
        height: 30px;
        width: 30px;
        justify-content: center;
        align-items: center;
        padding: unset;

        &:hover{
            opacity: 0.8;
            background: var(--red);
        }
    }

    .productsList{
        display: flex;
        flex-direction: column;
        gap: 10px;
        grid-column: 2 / 5;
        margin-top: 10px;
        min-width: 238px;

        .product{
            padding: 5px;
            border-top: 1px solid var(--gray);
            display: flex;

            .price{
                margin-left: auto;
            }
        }
    } 

    @media (max-width: 500px ){
        grid-template-columns: 180px 1fr 30px;

        &:has(.productsList){
            width: fit-content;
        }

        .sum {
            grid-column: 1;
            grid-row: 2;
        }
        .delete {
            grid-column: 3;
            grid-row: 1;
        }
    }
}